// Styling for the post page
.post-catalog {
  @include sans-serif-font;
  margin-bottom: 20px;

  >.catalog-title {
    font-size: 22px;
    margin-top: 0px;
  }

  >.catalog-content {
    font-size: 15px;
    margin-bottom: 10px;

    >.catalog-item{
      >a {
        color: $gray-900;

        &:focus,
        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
      
      >span{
        >a {
          color: $gray-900;
  
          &:focus,
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }  
    }
  }
}