<!DOCTYPE html>
<html lang="en">
  {{$setting := .Setting}}
  {{$isAuthOK := .IsAuthOK}}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>走向全栈 - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/default/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/default/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/default/css/clean-blog.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/view/index.html">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/contact.html">给我留言</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/about.html">关于本站</a>
          </li>
          {{if $isAuthOK}}
          <li class="nav-item">
            <a class="nav-link" href="/view/edit.html">写博客</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/setting.html">设置</a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/default/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 mx-auto">
          <div class="site-heading">
            <h2>{{$setting.Name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-6 mx-auto">
        {{range .Content}}
        <div class="post-preview">
          <div class="post-title">
            <a href="{{.Title}}.html?pageid={{.ID}}">
              {{.Title}}
            </a>
          </div>
          <div class="post-meta">
            <p>Posted by
              <a href="/view/author/{{.Creater.Account}}.html">{{.Creater.Account}}</a>
              on {{.CreateDate}}
              {{if $isAuthOK}}
              <span class="float-right">
                <a href="/view/edit.html?pageid={{.ID}}&action=update_post">更新</a> |
                <a href="/view/edit.html?pageid={{.ID}}&action=delete_post">删除</a>
              </span>
              {{end}}
            </p>
          </div>
        </div>
        {{end}}
        <!-- Pager -->
        <div class="clearfix">
          <div class="post-more">
            <a class="btn btn-primary float-right" href="{{.CurrentURL}}">查看更多 &rarr;</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mx-auto">
        {{$catalogSize:= len .Catalogs}}
        {{if gt $catalogSize 0}}
        <div class="post-catalog">
          <div class="catalog-title">分类目录</div>
          <div class="catalog-content">
            {{range .Catalogs}}
            <div class="catalog-item">
              <a href="/view/catalog/{{.Name}}/">{{.Name}}</a>
              {{if $isAuthOK}}
              <span class="float-right">
                <a href="/view/edit.html?catalogid={{.ID}}&action=delete_catalog">删除</a>
              </span>
              {{end}}
            </div>
            {{end}}
          </div>
        </div>
        {{end}}
        {{$archiveSize:= len .Archives}}
        {{if gt $archiveSize 0}}
        <div class="post-catalog">
          <div class="catalog-title">文章归档</div>
          <div class="catalog-content">
            {{range .Archives}}
            <div class="catalog-item">
              <a href="/view/archive/{{.Name}}/">{{.Name}}</a>
            </div>
            {{end}}
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p class="copyright text-muted">{{.ElapsedTime}}  {{$setting.Copyright}}</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/default/lib/jquery/jquery.min.js"></script>
  <script src="/static/default/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/default/js/clean-blog.js"></script>

</body>

</html>