<?xml version="1.0" encoding="utf-8"?>

<app name="magicBlog">
    <content>
        <catalogs>
            <catalog name="Index" description="Index页面"/>
            <catalog name="Catalog" description="Catalog页面"/>
        </catalogs>
        <articles>
            <article name="Contact" description="Contact页面"/>
            <article name="About" description="About页面"/>
            <article name="404" description="404页面"/>
        </articles>
    </content>
</app>